<div class="row">
  <div class="span9 hero-unit">
    WhiteBoard
  </div>
</div>
<div class="row">
  <div class="span9"> 
    <div class="pull-right">
      <h5>Shared File</h5>
      <%= link_to raw("<i class='icon-camera'></i> vacation pictures") %> <br/>
      <%= link_to raw("<i class='icon-table'></i> budget") %> <br/>
    </div>

    <%= link_to raw("<i class='icon-camera'></i> Camera") %> |
    <%= link_to raw("<i class='icon-share'></i> Share File") %> |
    <%= link_to raw("<i class='icon-check'></i> Add Task") %> |
  </div>


</div>


