<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <fieldset>
      <legend>General Info</legend>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password %>
    </fieldset>


    <fieldset>
      <legend>Roles</legend>
      <%= f.input :admin %>
      <%= f.input :developer %>
      <%= f.input :customer %>
      <%= f.input :tester %>
    </fieldset>

    <fieldset>
      <legend>Billing</legend>
      <%= f.input :cost_per_point %>
    </fieldset>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
