<div class="well">
  <table class="table">
    <tr>
      <td width="100px"><%= image_tag @user.picture_url , :size => "100x100" %></td>
      <td>
        <b>User: <%= @user.name %></b><br/>
        <%= lorem(23) %><br/>
        Admin?: <%= @user.admin %> | Developer: <%= @user.developer %>
        Tester?: <%= @user.tester %> | Customer: <%= @user.customer %>
      </td>
    </tr>
    <tr>
      <td width="100px"></td>
      <td colspan="1">
        <% if current_user.admin? or @user.id == current_user.id %>
        <%= link_to raw("<i class='icon-pencil'></i>  edit") , edit_user_path(@user) %> |
        <% end %>
        <%= link_to raw("<i class='icon-phone'></i>  Call") , "" %> |
        <%= link_to raw("<i class='icon-envelope'></i>  text") , "" %> |
        <%= link_to raw("<i class='icon-calendar'></i>  Setup Meeting") , "" %> |
        <%= link_to raw("<i class='icon-star'></i>  Rate") , "" %> |

        <a href="#addQuestionForm" role="button" class="xbtn" data-toggle="modal"><i class="icon-question-sign"></i> Ask Question</a> 
      </td>
    </tr>
  </table>



<%#= render "add_story_form" %>
<%#= render "add_question_form" %>
</div>



