
<table class="table">
  <% names = ["Assaf Goldstein", "Idan Goldstein", "David Blue", "Joe blow", "Richard smith"] %>
  <% 5.times do  %>
    <tr>
      <td width="32px"><span class="badge">1</span></td>
      <td>
        <div class="pull-right command_bar">
            <button class="btn btn-success"><%= action_name unless action_name.nil? %> </button>
        </div>
        <b><%= link_to lorem(3),"/stories/1"  %></b><br/>
        <div class="story-users">
          Customer: <b> <%= link_to fake_name(names) %> </b> | Developers:<b> <%= link_to fake_name(names) %>, <%=  link_to fake_name(names) %></b> | Tester: <b> <%=  link_to fake_name(names) %></b>
        </div>
        <p><%= lorem(12) %></p>
        <div class="story-status">
          Dev esimation: <b> 3 </b> | Test estimation :<b> 3</b>
        </div>

      </td>
    </tr>
  <% end %>
</table>


<style>
  .story-users{
    font-size:10px; 
  }

  .story-status{
    margin-top: 0px;padding-top:0px;
    font-size:10px; 
    color:#1e90ff;
  }
</style>