<table class="table">
  <% names = ["Assaf Goldstein", "Idan Goldstein", "David Blue", "Joe blow", "Richard smith"] %>
  <% rand(3).times do  %>
  <tr>
     <td width="32px">
      <h3> <%= "#{rand(4)}" %>  </h3>
    </td>
    <td>
      <p><%=  lorem(12) %></p>
      <div class="command_bar">
         <%= link_to "Edit" %> | <%= link_to "remove" %>
      </div>
    </td>
    <td width="65px">
      <h3> <%= raw fake_user_image(65) %>  </h3>
    </td>
  </tr>
  <% end %>
</table>