
<table class="table">
  <% names = ["Assaf Goldstein", "Idan Goldstein", "David Blue", "Joe blow", "Richard smith"] %>
  <% rand(13).times do  %>
    <tr>
      <td width="32px"><span class="badge">1</span></td>
      <td>
        <div class="pull-right command_bar">
          <%= raw(fake_story_status_bar(rand(99)))%>
          
          <div class="hidden btn-group">
            <button class="btn btn-success">More</button>
            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% if current_user.developer? %>
                <li><a href="#">Estimate</a></li>
                <li><a href="#">Assign Team</a></li>
                <li><a href="#">Ask Question</a></li>
                <li><a href="#">Run Tests</a></li>
              <% end %>

              <% if current_user.tester? %>
                <li><a href="#">Ask Question</a></li>
                <li><a href="#">Run Tests</a></li>
              <% end %>

              <% if current_user.customer? %>
                <li><a href="#">Edit Requirement</a></li>
                <li><a href="#">Edit Acceptence tests</a></li>
                <li><a href="#">Run Tests</a></li>
                <li><a href="#">Change Priotrity</a></li>
                <li><a href="#">Request estimation</a></li>
                <li><a href="#">Remove from iteration</a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <b><%= link_to lorem(3),"/stories/1"  %></b><br/>
        <div class="story-users">
          Customer: <b> <%= link_to fake_name(names) %> </b> | Developers:<b> <%= link_to fake_name(names) %>, <%=  link_to fake_name(names) %></b> | Tester: <b> <%=  link_to fake_name(names) %></b>
        </div>
        <p><%= lorem(12) %></p>
        
        <div class="btn-group pull-right">
          <button class="btn"><i class="icon-check"></i></button>
          <button class="btn"><i class="icon-pencil"></i></button>
          <button class="btn"><i class="icon-time"></i></button>
          <button class="btn"><i class="icon-user"></i></button>
        </div>
        
        <div class="story-status">
           Dev esimation: <b> 3 </b> | Test estimation :<b> 3</b>
        </div>

        
        
        
      </td>
    </tr>
  <% end %>
</table>


<style>
  .story-users{
    font-size:10px; 
  }

  .story-status{
    margin-top: 0px;padding-top:0px;
    font-size:10px; 
    color:#1e90ff;
  }
</style>