<div class="row">
  <div class="span3">
    <b><%= "Current Velocity" %></b><br/>
    <span class="project-status-details"><%= lorem(10) %> </span>
  </div>
  <div class="span3">
    <b><%= "Head count" %></b><br/>
    <span class="project-status-details"><%= lorem(10) %> </span>
  </div>
  <div class="span3">
    <b><%= lorem(2) %></b><br/>
    <span class="project-status-details"><%= lorem(10) %> </span>
  </div>
</div>
<hr/>