
<% content_for :sidebar do  %>
  <div class="well project-sidebar">
    <h5>Team members</h5>
    <%= render "shared/fake_users" %>
    <% if @project.present? %>
      <h5> View </h5>
      <ul>
        <li><%= link_to raw("<i class='icon-dashboard'></i> Dashboard") , "/projects/#{@project.id}?view=dashboard"%></li>
        <li><%= link_to raw("<i class='icon-calendar'></i> Calendar") , "/projects/#{@project.id}?view=calendar"%></li>
        <li><%= link_to raw("<i class='icon-check'></i> Todo") , "/projects/#{@project.id}?view=calendar"%></li>
        <li><%= link_to raw("<i class='icon-cog'></i> Build Machine") , "/projects/#{@project.id}?view=buildmachine"%></li>
        <li><%= link_to raw("<i class='icon-bookmark'></i> Bookmarks") , "/projects/#{@project.id}?view=bookmarks"%></li>
        <li><%= link_to raw("<i class='icon-question-sign'></i> Questions") , "/projects/#{@project.id}?view=calendar"%></li>
        <li><%= link_to raw("<i class='icon-time'></i> Activities") , "/projects/#{@project.id}?view=activities"%></li>
      </ul>
      <hr/>


      <h5> Stories </h5>
      <ul>
        <li><%= link_to raw("<i class='icon-tasks'></i> Current iteration (#{rand(5)})") , "/projects/#{@project.id}?view=current"%></li>
        <li><%= link_to raw("<i class='icon-calendar'></i> Backlog (#{rand(5)})") , "/projects/#{@project.id}/stories?view=current"%></li>
        <li><%= link_to raw("<i class='icon-time'></i> Unestimated (#{rand(5)})") , "/projects/#{@project.id}/stories?view=current"%></li>
        <li><%= link_to raw("<i class='icon-flag'></i> Late Stories (#{rand(5)})") , "/projects/#{@project.id}/stories?view=activities"%></li>

      </ul>


    <% end %>
  </div>
<%  end %>

<style>
  .project-sidebar{
    
  }
  .project-sidebar li{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
  }
  
</style>