<div class="well">
  <table class="table">
    <tr>
      <td width="100px"><%= image_tag @project.profile_image_url , :size => "100x100" %></td>
      <td>
        <b>Project: <%= @project.name %></b><br/>
        <%= lorem(23) %><%= @project.description %><br/>
      </td>
      <td width="120px">
        <%= raw(fake_story_status_bar(rand(99)))%>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <a href="#addStoryForm" role="button" class="xbtn" data-toggle="modal"><i class="icon-quote-right"></i> Add story</a> |
        <a href="#addIterationForm" role="button" class="xbtn" data-toggle="modal"><i class="icon-tasks"></i> Add Iteration</a>  |
        <%= link_to raw("<i class='icon-calendar'></i>  Setup Meeting") , "" %> |
        <a href="#addQuestionForm" role="button" class="xbtn" data-toggle="modal"><i class="icon-question-sign"></i> Ask question</a> |
        <a href="#addBookmarkForm" role="button" class="xbtn" data-toggle="modal"><i class="icon-bookmark"></i> Add bookmark</a> 
        
      </td>
    </tr>
  </table>

  <%= render "add_story_form" %>
  <%= render "add_question_form" %>
  <%= render "add_bookmark_form" %>
</div>


<% if @view.include? "bookmarks" %>
  <%= render "bookmarks" %>
<% end  %>
<% if @view.include? "buildmachine" %>
  <%= render "buildmachine" %>
<% end  %>

<% if @view.include? "activities" %>
  <%= render :partial => "activities"%>
<% end %>




<%= render "project_status" if @view.include? "dash" %>
<%= render "calendar" if @view.include? "calendar" %>



<% if @view.include? "stories" %>
  <%= render :partial => "stories", :locals => {:stories => @project.stories} %>
<% end %>
<hr/>


<% if @view.include? "current" %>
  <h5>Current iteration </h5>
  <%= render "shared/fake_stories" %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= render "sidebar"  %>