<p id="notice"><%= notice %></p>
<h2>Project: <%= @project.name %></h2>
<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

  <%= render "project_status" if @view.include? "dash" %>
  <%= render "calendar" if @view.include? "calendar" %>



<% if @view.include? "stories" %>
  <h2>Project Stories</h2>
  <%= render :partial => "stories", :locals => {:stories => @project.stories} %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= render "sidebar"  %>