<div class="well">
  <table class="table">
    <tr>
      <td width="100px"><%= image_tag @project.profile_image_url , :size => "100x100" %></td>
      <td>
        <b>Project: <%= @project.name %></b><br/>
        <%= @project.description %><br/>
      </td>
      <td>
         <%= raw(fake_story_status_bar(rand(99)))%>
      </td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <td>
        <div class="btn-group">
          <button class="btn"><i class="icon-dashboard"></i></button>
          <button class="btn"><i class="icon-group"></i></button>
          <button class="btn"><i class="icon-calendar"></i></button>
          <button class="btn"><i class="icon-envelope"></i></button>
          <button class="btn"><i class="icon-list"></i></button>
          <button class="btn"><i class="icon-desktop"></i></button>
          <button class="btn"><i class="icon-bookmark"></i></button>
        </div>
      </td>
      <td>
        <div class="btn-group">
                  <a href="#addQuestionForm" role="button" class="btn" data-toggle="modal"><i class="icon-question-sign"></i></a>
          <% if current_user.developer? %>
  
            <button onclick="location.href='/stories/<%=@project.id%>?view=estimate';" class="btn"><i class="icon-time"></i></button>
            <button onclick="location.href='/stories/<%=@project.id%>?view=estimate';" class="btn"><i class="icon-question-sign"></i></button>
          <% end %>
          <% if current_user.customer? %>
            <a href="#addStoryForm" role="button" class="btn" data-toggle="modal"><i class="icon-quote-right"></i></a>
            
            <button class="btn"><i class="icon-bookmark"></i></button>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
  
  
 

  <%= render "add_story_form" %>
  <%= render "add_question_form" %>
</div>


<hr/>
<h5>Stories in development </h5>
<%= render "shared/fake_stories" %>


<%= render "project_status" if @view.include? "dash" %>
<%= render "calendar" if @view.include? "calendar" %>



<% if @view.include? "stories" %>
  <h2>Project Stories</h2>
  <%= render :partial => "stories", :locals => {:stories => @project.stories} %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= render "sidebar"  %>