


<div id="addQuestionForm"class="modal add_question_modal xxx fade">
  <%= simple_form_for(@story) do |f| %>

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Add Question</h3>
    </div>
    <div class="modal-body">
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="row">
          <div class="span6">
            <table class="table">
              <tr>
                <td width="50px"><%= raw( fake_user_image(50))   %></td>
                <td colspan="2">
                  <%= f.input :description , :label => "Question"%>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.button :submit %>
    </div>
    
  <% end %>

</div>


<style>
  .add_question_modal{ height:320px; width:600px;}
</style>