<% @task = Task.new %>
<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <table class="table">
      <tr>
        <td width="90%">
          <textarea style="width:450px;height:80px;"><%= @task.description %></textarea>
        </td>
        <td width="10%">
          <%= f.input :estimation %>
          <%= f.button :submit %>
        </td>
      </tr>
    </table>
  </div>

<% end %>