<h1>Listing stories</h1>

<table class="table">
  <tr>
    <th>Project</th>
    <th>Name</th>
    <th>Status</th>
    <th>Customer</th>
    <th>Developers</th>
    <th>Tester</th>
    <th>Iteration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.project_id %></td>
    <td><%= story.name %></td>
    <td><%= story.status %></td>
    <td><%= story.created_by_user_id %></td>
    <td><%= story.primary_solver_user_id %> | <%= story.secondary_solver_user_id %></td>
    <td><%= story.tested_by_user_id %></td>
    <td><%= story.iteration_id %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>

<%= render "sidebar" %>