
<h2>Story: <%= @story.name %></h2>
<hr/>
<%= @story.description%> 
<hr/>

<%= render "dashboard"  if @view.include? "info"%>

<% if @view.include? "test" %>
  <h3>Acceptence tests</h3>
  <%= render "acceptence_tests" %>
  <hr/>
<% end %>
<% if @view.include? "estimate" %>
  <div class="pull-right"> <h3><%= @story.estimation %> points </h3></div>
  <h3> Story Tasks </h3>
  <%= render "add_task" %>
  <%= render "shared/fake_tasks" %>
  <hr/>
<% end %>




<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>



<%= render "sidebar" %>