

<%= render "story_info" %>
<hr/>



<%= render "activities"  if @view.include? "activities"%>

<%= render "dashboard"  if @view.include? "dahsboard"%>
<%= render "customer_acceptence"  if @view.include? "approve"%>


<% if @view.include? "test" %>
  <div class="pull-right">
    <div class="btn-group">
      <button class="btn"><i class="icon-check"></i> </button>
      <button class="btn"><i class="icon-pencil"></i></button>
      <button class="btn"><i class="icon-hand-up"></i></button>
      <button class="btn"><i class="icon-hand-down"></i> </button>
    </div>
  </div>
  <h3>Acceptence tests</h3>
  <%= render "test" %>
  <hr/>
<% end %>


<%= render "add_question_form" %>
<%= render "edit_story_test_form" %>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>



<%= render "sidebar" %>