<h1>Listing activities</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Kind</th>
    <th>Created by user</th>
    <th>Started at</th>
    <th>Ended at</th>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.project_id %></td>
    <td><%= activity.kind %></td>
    <td><%= activity.created_by_user_id %></td>
    <td><%= activity.started_at %></td>
    <td><%= activity.ended_at %></td>
    <td><%= activity.title %></td>
    <td><%= activity.body %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
